* {
        text-decoration: none;
        font-family: sans-serif;
        box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: solid black 1px;
    color: black;
    text-decoration: none;
}

nav a {
    color: black;
}

.search-menu {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    width: 50px;
    color: black;
}


.logo {
    display: flex;
    width: 150px;
    margin-left: 50px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    
}

.logo_img {
    width: 50px;
    display: inline;
}

.logo_title {
    display: inline;
}

ul {
    display: inline;
}

ul li {
    display: inline;
    margin: 70;
    padding: 3px;
}

.body-heading  {
    vertical-align: baseline;
}

ul li a {
    text-decoration: none;
}

.nav_icons {
    margin-right: 50px;
}

.body-heading h1, h6 {
    text-align: center;
}

h6 {
    font-weight: 100;
}

.heading-image {
    text-align: center;
}

.author_details {
    display: flex;
    font-size: 10pt;
    align-items: center;
    line-height: .5em;
}

.author_img {
    border-radius: 30px;
    margin-right: 30px;
}

figure {
    margin: 0;
    padding: 0;
}

figure .Author {
   border: none;
   padding: 0px;
   border: 1px solid lightgray;
   width:fit-content;
   float:inherit;
    
}

section .description {
    border: 1px solid lightgray;
    width: fit-content;
    float:inherit;
}

.main-body {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

aside p {
    font-size: 24pt;
    width: 300px;
    line-height: 1;
    margin: 0;
    text-align: center;
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    padding: 10px 0;
}

.first-quote {
    float: right;
    width: 200px;
    margin: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.second-quote {
    width: 200px;
    margin: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.quotes {
    display: flex;
    align-items: center;
}

footer {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    font-weight: none;
    font-style: inherit;
    text-decoration: none;
    width: 100%;
    
}

.footer_one {
    border-top: 1px solid rgb(220, 218, 218);
    border-bottom: 1px solid rgb(220, 218, 218);
    display: flex;
    width: 100%;
}

.footer_one h3 {
    font-weight: lighter;
}

.footer-logo {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.footer-logo img {
    width: 40px;
    height: 40px; 
}




.footer_two {
    display: flex;
    justify-content:flex-end;
    padding: 25px;
    
}

.footer_two a {
color: black;
}
div img {
    width: 50px;
    height: 30 px;
}

.right-arrow{
    margin-left: 5px;
}
.end-content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    padding: 10px;
    
}

.social-media {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    text-decoration: none;
    
}

.fa-brands {
    color: black;
}

.fa-arrow-right {
    color: black;
}

.search {
    display: inline-block;
}

.search p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-self: center;
}

.box-search {
    margin: 0;
    width: 300px;
    height: 40px;
    border: solid rgb(220, 218, 218) 1px;
}

.button {
    padding: 0;
    width: 110px;
    height: 40px;
    border: none;
    background: rgb(213, 16, 16);
    color: white;
}

.search form {
    padding: 0;
    font-size: 0;

}

